.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_average_card {
  margin: 2rem;
}

.home_input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homemonthinput {
  margin: 2rem;
}

.homeSearch {
  margin: 2rem;
}

.table {
  max-width: 80%;
}
