.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-average-card {
  margin: 2rem;
}

.home-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homemonthinput {
  margin: 2rem;
}

.homeSearch {
  margin: 2rem;
}
